# Terraform関連のディレクトリとファイル
.terraform/                # ディレクトリ全体を無視
.terraform.lock.hcl        # ロックファイル
*.tfvars                   # すべての.tfvarsファイル

# TFLintの設定ファイル
.tflint.hcl

# その他、環境に依存するファイル
backend.tf
locals.tf

